<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="HospitalDatabase" connectionString="metadata=res://*/Models.DatabaseContext.csdl|res://*/Models.DatabaseContext.ssdl|res://*/Models.DatabaseContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBI-WIN2016;initial catalog=HospitalDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>